body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.cv-container {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    border-bottom: 2px solid #0073e6;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

header h1 {
    margin: 0;
    color: #0073e6;
}

header p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #0073e6;
    margin-bottom: 10px;
    /* border-left: 4px solid #0073e6; */
    padding-left: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
